<div class="scrollContainerStyle" style="height:100%; overflow-y: auto; overflow-x: hidden;" (scroll)="handleScroll($event)">
	<div [hidden]="detail" class="container" style="padding-right: 0px; padding-left: 0px;">			
			
			<div class="container-fluid">
			  <div class="row">
				<!--<div class="col-sm-12 col-md-6 col-lg-4" >
					<div class="createNewDiv" >
						<div class="createNewInnerDiv" (click)="createNew($event)">
							<div class="createNewIcon">&#10011;</div>
						</div>
					</div>
				</div>-->
				
				
				<div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let result of results">
					<tile-template [item]="result" [parentComponent]="self" (openItem)="openItem($event)"></tile-template>
					
				</div>
			  </div>
			</div>

			<div class="footerStyle">
				<div class="row" style="padding: 3px;">
					<div class="col-xs-6">	
					</div>
					<div class="col-xs-6" style="display:flex; justify-content:flex-end;">						  
						<button type="submit" class="btn btn-default" style="width:100%;" (click)="createNew($event)">
						   <span class="glyphicon glyphicon-plus"></span> Post
						</button>
					</div>
				</div>
			</div>
		</div>



		<div [hidden]="!detail" >
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6" >
						<image-template [item]="item" [parentComponent]="self" [editMode]="editMode" ></image-template>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6">
						<dynamic-form [item]="item" [parentComponent]="self" [editMode]="editMode"></dynamic-form>
					</div>
				</div>
				<div style="height: 100px"></div>
			</div>
      
	  <div style="width:70px; position:absolute; bottom:65px; right:10px; cursor:pointer; z-index:2; display:flex; flex-direction:column; align-items:center; justify-content:center;" [hidden]="((screenMode.add) || (screenMode.edit) || (item.user_id === userDetail.user_id) || (item.sold))" (click)="makeCall($event)">
				<span class="glyphicon glyphicon-earphone" style="width:30px; font-size:20px; font-weight:bold; color:#E71B03;"></span> Call Now!
			</div>
	  
      <div style="width:70px; position:absolute; bottom:10px; right:10px; cursor:pointer; z-index:2; display:flex; flex-direction:column; align-items:center; justify-content:center;" [hidden]="((screenMode.add) || (screenMode.edit) || (item.user_id === userDetail.user_id) || (item.sold))" (click)="startChat($event)">
				<img src="assets/chat_icon.png" style="width:30px;"/> Chat Now!
			</div>
      
			<div class="footerStyle" [hidden]="(!(screenMode.add) && !(screenMode.edit) && (item.user_id !== userDetail.user_id))">
			   <div class="row" style="padding: 3px;">
					<div class="col-xs-6">
						   <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="(screenMode.add) || (!(screenMode.add) && !(screenMode.edit))" (click)="onBuyCancel($event)">
							   <span class="glyphicon glyphicon-remove"></span> Cancel
						   </button>
						   
						   <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="(screenMode.edit)" (click)="onEditCancel($event)">
							   <span class="glyphicon glyphicon-remove"></span> Cancel
						   </button>
					</div>
					<div class="col-xs-6" style="display:flex; justify-content:flex-end;">						
						  <button [disabled]="disabled.save" type="submit" class="btn btn-default" style="width:100%;" *ngIf="(screenMode.add) || (screenMode.edit)" (click)="onBuySave($event)">
							   <span class="glyphicon glyphicon-floppy-disk"></span> Save
						  </button>
						  						
						  <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="!(screenMode.add) && !(screenMode.edit) && (item.user_id === userDetail.user_id)" (click)="onEdit($event)">
							   <span class="glyphicon glyphicon-pencil"></span> Edit
						  </button>
						  
						  <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="(screenMode.edit)" (click)="onDeactivate($event)">
							   <span class="glyphicon glyphicon-ban-circle"></span> Delete
						  </button>
						
					 </div>
			   </div>
		   </div>
	</div>
</div>

<!--<app-dialog [(visible)]="showApplicationListDialog">
	<div style="padding: 40px;">
		<div class="appListHeader">Select an application</div>
		<div>
		<div class="appListItem" *ngFor="let app of applications" (click)="onAppSelect($event,app)">{{app.app_name}}</div>
		</div>
	</div>
<app-dialog>
 -->
<app-dialog [(visible)]="showListDialog">
	<div [hidden]="!showProductTypeListDialog" style="padding: 25px;">
		<div class="listHeader">Select a Product Type</div>
		<div>
		<div class="listItem" *ngFor="let prdTyp of productTypes" (click)="onPrdTypSelect($event,prdTyp)" [hidden]="prdTyp.product_type_name === 'Service'">{{prdTyp.product_type_name}}</div>
		</div>
	</div>
	
	
	
	<div [hidden]="!showBrandListDialog" style="padding: 25px;">
		<input class="form-control" style="width: 100%;" type="text" [(ngModel)]="brand_term" placeholder="Search..">
		<div class="listHeader">Select a Brand</div>
		<div>
		<div class="listItem" *ngFor="let brand of brands | filter : brand_term" (click)="onBrandSelect($event,brand)">{{brand}}</div>
		</div>
	</div>
	
	
  <div [hidden]="!showProductModelListDialog" style="padding: 25px;">
    <input class="form-control" style="width: 100%;" type="text" [(ngModel)]="model_term" placeholder="Search..">
		<div class="listHeader">Select a Model</div>
		<div>
		<div class="listItem" *ngFor="let mdl of models | filter : {brand_name:model_term, model:model_term}" (click)="onPrdModelSelect($event,mdl)">{{mdl.brand_name}} {{mdl.model}}</div>
		</div>
	</div>
	<div [hidden]="!showProductVariantListDialog" style="padding: 25px;">
    <input class="form-control" style="width: 100%;" type="text" [(ngModel)]="variant_term" placeholder="Search..">
		<div class="listHeader">Select a Variant</div>
		<div>
		<div class="listItem" *ngFor="let varnt of variants | filter : {brand_name:variant_term, model:variant_term, variant:variant_term}" (click)="onPrdVariantSelect($event,varnt)">{{varnt.brand_name}} {{varnt.model}} {{varnt.variant}}</div>
		</div>
	</div>
  	
	
	<div [hidden]="!showProductColorDialog" style="padding: 25px;">
		<div class="listHeader">Select a Colour</div>
		<div>
		<div class="listItem" *ngFor="let clr of colors" (click)="onPrdColorSelect($event,clr)">{{clr}}</div>
		<div class="listItem" (click)="onPrdColorSelect($event,'NA')">Without System Image</div>
		</div>
	</div>
	
	<div [hidden]="!showProductYearDialog" style="padding: 25px;">
		<div class="listHeader">Select the Year of Manufacture</div>
		<div>
			<div class="listItem" *ngFor="let yr of years" (click)="onPrdYearSelect($event,yr)">{{yr.name}}</div>
		</div>
	</div>
	
	<div [hidden]="!showAddressListDialog" style="padding: 25px;">
		<div class="listHeader">Select an Address</div>
		<div>
			<div class="listItem" *ngFor="let add of addresses" (click)="onAddressSelect($event,add)">{{add.address}}, {{add.locality}}</div>
		</div>
	</div>
</app-dialog>
