<div>
  <mat-tab-group #dynamicTabGroup (selectedTabChange)="onTabClick($event)">
			<mat-tab label="All">
				<div style="padding:15px;">
          <mat-list>
            <mat-list-item *ngFor="let post of allPost">
              <div>
                <img></img>
                <div>
                  <div style="">
          <div style="line-height: 25px; width: 100%; padding: 3%;">
               <div style="display: flex; flex-direction: row; justify-content: space-between;">
                   <div *ngIf="(item.transactionTyp !== 'Service')">
                      <b style="font-size: 25px;" class="postproduct-title" >{{item.brand_name}} {{item.model}} {{item.variant}}</b>
                      <span style="font-size: 14px;" class="postproduct-fuelType" >{{item.fuel_type ? item.fuel_type : ''}}</span>
                   </div>
				   <div *ngIf="(item.transactionTyp === 'Service')">
                      <b style="font-size: 25px;" class="postproduct-title" >{{item.model}}</b>
                      <span style="font-size: 14px;" class="postproduct-fuelType" >{{item.brand_name}} Service</span>
                   </div>
                   <b *ngIf="(item.transactionTyp !== 'Bid' && item.transactionTyp !== 'Service')" style="color: #E71B03; font-size: 20px;" class="postproduct-amount" ><span *ngIf="item.transactionTyp === 'Buy'" class="glyphicon glyphicon-menu-left"></span> <span class="">&#8377;</span> {{item.net_price ? item.net_price : '0'}}</b>
				   <b *ngIf="item.transactionTyp === 'Bid'" style="color: #E71B03; font-size: 20px;" class="postproduct-amount" ><span class="">&#8377;</span> {{item.current_bid_amount ? item.current_bid_amount : '0'}}</b>
				   <b *ngIf="item.transactionTyp === 'Service'" style="color: #E71B03; font-size: 18px;" class="postproduct-amount" ><span style="font-size:12px;">Starts From </span> <span class="">&#8377;</span> {{item.start_from_amount ? item.start_from_amount : '0'}}</b>
              </div>
			  <div style="display: flex; flex-direction: row; font-size: 12px; border-bottom: 2px solid gray;" *ngIf="(item.transactionTyp !== 'Service')">
				  <div style="margin-right: 20px;"><span style="color:#E71B03;" class="glyphicon glyphicon-map-marker"></span> {{item.city ? item.city : '---'}}</div>
				  <div style="margin-right: 20px;"><span *ngIf="item.transactionTyp === 'Buy'" style="font-weight: bold;" class="glyphicon glyphicon-menu-right"></span> <span style="color:#E71B03;" class="glyphicon glyphicon-time"></span> {{item.year_of_reg ? item.year_of_reg : '0000'}}</div>
				  <div style="margin-right: 20px;"><span *ngIf="item.transactionTyp === 'Buy'" style="font-weight: bold;" class="glyphicon glyphicon-menu-left"></span> <span style="color:#E71B03;" class="glyphicon glyphicon-road"></span> {{item.km_done ? item.km_done : '0'}} KM</div>
				  <div style="margin-right: 20px;"><span style="color:#E71B03;" class="glyphicon glyphicon-camera"></span> {{item.number_of_image ? item.number_of_image : '0'}}</div>
				  <div><span style="color:#E71B03;" class="glyphicon glyphicon-user"></span> {{ownerTypeFormatter(item.owner_type)}}</div>
				  <div *ngIf="item.createdOn !== undefined && item.createdOn !== null && item.createdOn !== ''" style="right: 15px; position: absolute;"><span style="color:#E71B03;" class="glyphicon glyphicon-calendar"></span> {{item.createdOn}}</div>
			  </div>
			  <div style="display: flex; flex-direction: row; font-size: 12px; border-bottom: 2px solid gray;" *ngIf="item.transactionTyp === 'Service'">
				  <div><span style="color:#E71B03;" class="glyphicon glyphicon-map-marker"></span> {{item.city ? item.city : '---'}}</div>
				  <div style="display:flex;">
					  <div style="padding: 3px;"><div style="background-color: #E71B03;  width: 35px;  border-radius: 4px;  color: white; height: 18px;  line-height: 18px; text-align: center;">{{item.rating ? item.rating : '0'}} <span>&#9733;</span></div> </div>
					  <div style="">{{item.no_of_rating ? item.no_of_rating : '0'}} Rating, {{item.no_of_feedback ? item.no_of_feedback : '0'}} Feedback</div>
					  <div *ngIf="item.createdOn !== undefined && item.createdOn !== null && item.createdOn !== ''" style="right: 15px; position: absolute;"><span style="color:#E71B03;" class="glyphicon glyphicon-calendar"></span> {{item.createdOn}}</div>
				  </div>
			  </div>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
  </mat-tab-group>
</div>
