<div class="scrollContainerStyle" style="height:100%; overflow-y: auto; overflow-x: hidden;" (scroll)="handleScroll($event)">
	<div class="container" style="padding-right: 0px; padding-left: 0px;">			
			
			<div class="container-fluid">
			  <div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let result of results" [hidden]="!(result.fav)">
					<tile-template [item]="result" [parentComponent]="self" (openItem)="onItemSelect($event)"></tile-template>
					
				</div>
			  </div>
			</div>
		</div>
</div>



<!--
<app-dialog [(visible)]="showConfirmDialog">
	<div class="listHeader">Confirmation!</div>
	<b>Are you sure you want to remove the item from your favourite list?</b>
	<div style="display:flex; width:100%;">
		<button style="width:50%;" class="btn btn-default" (click)="onUnFavYes()">Yes</button>
		<button style="width:50%;" class="btn btn-default" (click)="onUnFavNo()">No</button>
	</div>
</app-dialog>-->