<div class="container">
    <div class="detail_form">
        <div class="padding">
			<label>Type Parameter Name below to search.</label>
			<input class="form-control" style="width: 100%;" type="text" [(ngModel)]="term" placeholder="Search..">
            <table class='mtable'>
				<thead>
					<tr>
						<th></th>
						<th>Parameter</th>
						<th>Value</th>						
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let parameter of parameters | filter : {parameter:term} ; let indx = index'>
						<td data-header=" "><div style="height:40px; padding: 3px;"><i class="glyphicon glyphicon-remove" (click)="onDelete($event,parameter)"></i></div></td>
						<td data-header="Parameter">
							<div style="height:40px; padding: 3px;">
							<select class="form-control" [(ngModel)]="parameter.parameter" name="'param' + indx" [disabled]="!parameter.dirty">
								<option value=""></option>
								<option value="email_api_id">Email API ID</option>
								<option value="email_api_key">Email API Key</option>
								<option value="sms_api_key">SMS API Key</option>
								<option value="google_api_key">Google API Key</option>
								<option value="bid_hike_type">Bid Hike Type</option>
								<option value="bid_hike_value">Bid Hike By</option>
								<option value="extra_life_time">Extra Life Time</option>
								<option value="to_ist">UTC to IST</option>
								<option value="fcm_server_logical_key">FCM Server Logical Key</option>
								<option value="delete_on_deactivate">Delete on Deactivate</option>
								<option value="bid_slot_from">Bid Slot From</option>
								<option value="bid_slot_to">Bid Slot To</option>
								<option value="bid_slot_days">Bid Slot Days</option>
								<option value="security_deposit">Security Deposit</option>
								<option value="disable_signup">Disable SignUp</option>
								<option value="disable_sms_notfc">Disable SMS Notification</option>
								<option value="disable_email_notfc">Disable Email Notification</option>
								<option value="disable_app_notfc">Disable App Notification</option>
							</select>
							</div>
						</td>
						<td data-header="Value">
              <div style="height:40px; padding: 3px;">
                <input *ngIf="parameter.parameter !== 'bid_slot_from' && parameter.parameter !== 'bid_slot_to' && parameter.parameter !== 'bid_slot_days'" class="form-control" [(ngModel)]="parameter.value" name="'val' + indx" [disabled]="!parameter.dirty">
                
                <div *ngIf="parameter.parameter == 'bid_slot_from' || parameter.parameter == 'bid_slot_to'">
							<input *ngIf="!parameter.dirty" class="form-control" [(ngModel)]="parameter.value" name="'val' + indx" disabled>
							
							<div *ngIf="parameter.dirty">
							<select class="form-control" style="display:inline; width:45%;"  placeholder="hrs" [(ngModel)]="parameter.hour" name="'hrs'+indx" [disabled]="!parameter.dirty" (change)="parameter.value = parameter.hour +':'+ parameter.min" >
								<option *ngFor="let optn of hours" [value]="optn">{{optn}}</option>
							</select>
							:
							<select class="form-control" style="display:inline; width:45%;"  placeholder="mins" [(ngModel)]="parameter.min" name="'mins'+indx" [disabled]="!parameter.dirty" (change)="parameter.value = parameter.hour +':'+ parameter.min" >
								<option *ngFor="let optn of minutes" [value]="optn">{{optn}}</option>
							</select>
							</div>
						</div>
                
                <div *ngIf="parameter.parameter == 'bid_slot_days'" class="form-control">
							<input style="border:none; width:95%;" [(ngModel)]="parameter.value" name="'val' + indx" disabled>
							<span style="cursor:pointer;" class="glyphicon glyphicon-option-horizontal" [hidden]="!parameter.dirty" (click)="openDaysList($event,parameter)"></span>
						</div>
              </div>
            </td>						
					</tr>
				</tbody>
			</table>
			
        </div>
    </div>
</div>
  
  <app-dialog [(visible)]="showDaysDialog">
		<div style="padding: 40px;">
			<div class="listHeader">Select days</div>
			<div>
			<div class="listItem" *ngFor="let day of days">
				<input type="checkbox" [(ngModel)]="day.selected" > {{day.day}}
			</div>
			</div>
			<button class="form-control" (click)="onDaysSelect($event)">Ok</button>
		</div>
	</app-dialog>

<!--footer-->
<div style="padding: 10px;"></div>
<div class="footerStyleAdmin">
				<div class="row" style="padding: 5px;">
					<div class="col-sm-6">
						   <button type="submit" class="btn btn-default" (click)="onAddCancel($event)" >
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>							
					</div>
					<div class="col-sm-6" style="display:flex; justify-content:flex-end;">
							<button type="submit" class="btn btn-default" (click)="onAddClick($event)">
								<span class="glyphicon glyphicon-plus"></span> Add
							</button>
							<button type="submit" class="btn btn-default" (click)="onSave($event)">
								<span class="glyphicon glyphicon-floppy-disk"></span> Save
							</button>
					 </div>
			   </div>
</div>

