.page_title{
	text-align: center;
    font-size: x-large;
    margin-top: 1rem;
}

.detail_form{
    margin: auto;
    color: #565454;
}
.padding{
    padding: 30px;
}

.listHeader{
	background-color: #dddddd;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
	padding: .875rem .5rem;
}
.listItem{
	border-bottom: 1px solid #e5e5e5;
    padding: 8px;
    font-size: 15px;
    font-weight: 700;
	background: #ffffff;
}
.listItem:hover{
	cursor: pointer;
	color: white;
	background-color: #aaacb5;
}

	
	
