<div style="padding:10px; width:100%; height:100%; display:flex; align-items:center; justify-content:center;">                
	<div class="" [hidden]="hidden.mobile">
		<form class="form-horizontal" autocomplete="off">					
			<div class="form-group">
				<div class="form-inline">                                                        
					<div class="col-sm-12">
						<div style="display:flex;">
							<mat-form-field class="mobile-field" style="width:100%;">						
								<span matPrefix>+91 &nbsp;</span>
								<input type="tel" matInput placeholder="Enter Mobile Number*" maxlength="10" [(ngModel)]="mobile" name="mobile" (keyup)="onMobileEnter($event)">							
							</mat-form-field>
							<button (click)="onSendOTP()" class="btn btn-link">{{sendOTP}}</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div [hidden]="hidden.otp">
		<form>
			<div class="form-group">
				<div class="form-inline">							
					<div class="col-sm-12">
						<mat-form-field class="otp-field" style="width:100%;">
						  <input type="password" matInput placeholder="Enter OTP*" [(ngModel)]="otp" name="otp" (keypress)="onkeypress($event)">
						</mat-form-field>                                                                                 
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-inline">							
					<div class="col-sm-12">
						<button mat-raised-button style="width:100%;" (click)="submitOtp()" >Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div [hidden]="hidden.password">
		<form>
			<div class="form-group">
				<div class="form-inline">							
					<div class="col-sm-12">
						<mat-form-field class="password-field" style="width:100%;" >
						   <input type="password" matInput placeholder="Enter Password*" [(ngModel)]="password" name="password" (keypress)="onkeypress($event)">
						</mat-form-field>                                                                                
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-inline">							
					<div class="col-sm-12">
						<mat-form-field class="password-field" style="width:100%;" >
						   <input type="password" matInput placeholder="Confirm Password*" [(ngModel)]="confirm_password" name="confirm_password" (keypress)="onkeypress($event)">
						</mat-form-field>                                                                                
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-inline">							
					<div class="col-sm-12">
						<button mat-raised-button style="width:100%;" (click)="changePassword()" >Change</button>
					</div>
				</div>
			</div>
		</form>
	</div>    
</div>