<div [hidden]="hidden.signup" style="height:100%; width:100%;">
<div style="display:flex; flex-direction:column; justify-content:center; height:100%;">
	<div style="width: 100%; max-width: 400px; max-height: 500px; margin-left: auto; margin-right: auto; padding: 15px">
		 <div style="width: 100%; max-width: 400px; max-height: 500px; box-shadow: 0px 0px 1px 0px grey; margin-left:auto; margin-right:auto;">
			  <div style="width:100%; height:100px; background-color:#E71B03;">
				   <div style='padding: 30px; color: white; font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 18px; font-weight: bold; display: flex; justify-content: space-between;'>
						<div>Sign Up</div>
						<span style="font-size:40px;" class="glyphicon glyphicon-pencil"></span>
				   </div>
			  </div>
			  <div style="width:100%; max-width: 350px; min-height: 280px; padding: 20px; display: flex; align-items: center; justify-content: center; margin-left:auto; margin-right:auto;">
				   <form style="max-width: 350px;" class="login-form" autocomplete="off">
						 <mat-form-field class="mobile-field" style="width:100%;">
							  <span matPrefix>+91 &nbsp;</span>
							  <input type="tel" matInput placeholder="Enter Mobile Number*" maxlength="10" [(ngModel)]="login_mobile" name="login_mobile" (keyup)="onMobileEnter($event)">
						 </mat-form-field>
										 
						 <mat-form-field class="otp-field" style="width:100%;" >
							  <div style="display:flex;">
								  <input type="password" matInput placeholder="Enter OTP*" [(ngModel)]="login_otp" name="login_otp" (keypress)="onKeypress($event)">
								  <button (click)="onSendOTP()" class="btn btn-link">{{sendOTP}}</button>
							  </div>
						</mat-form-field>
																   
						 <mat-form-field class="password-field" style="width:100%;" >
							  <input type="password" matInput placeholder="Enter Password*" [(ngModel)]="login_password" name="login_password" (keypress)="onKeypress($event)">
						 </mat-form-field>
						<mat-form-field class="password-field" style="width:100%;" >
						   <input type="password" matInput placeholder="Confirm Password*" [(ngModel)]="confirm_password" name="confirm_password" (keypress)="onKeypress($event)">
						</mat-form-field>					  
													
						<div style="display:flex; justify-content:space-between;">
							<button style="width: 100%; background-color:#E71B03; color:white;" mat-raised-button (click)="onSubmit()">Submit</button>
							
						</div>
						<div style="line-height:35px; display:flex; justify-content:flex-end;">
							 <button (click)="gotoSignIn()" class="btn btn-link">Already Signed Up? Sign In.</button>
						</div>
						<div><label *ngIf="loginError" style="color: red;">{{loginError}}</label></div>
				  </form>
			</div>
		</div>
	</div>
</div>
</div>


<!-- -->
<div [hidden]="hidden.profile" class="container">   
             
			<div class="padding">
				<form class="form-horizontal" autocomplete="off">
					<div class="form-group">
						<div class="form-inline">
							
							<div class="col-sm-12">
								<mat-form-field style="width:100%;" >
									  <input type="text" matInput placeholder="Enter Full Name" [(ngModel)]="newUser.name" name="name" required>
								 </mat-form-field>
								 
								<!--<input style="width: 100%;" [value] = "newUser.name" (input) = "newUser.name = $event.target.value" type="text" class="form-control" id="full_name" placeholder="Enter Full Name">-->
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							
							<div class="col-sm-12">
								<mat-form-field style="width:100%;" >
									  <input type="email" matInput placeholder="Enter Email ID" [(ngModel)]="newUser.email" name="email" (focusout)="onEmailEnter($event)" required>
								 </mat-form-field>
							
								<!--<input style="width: 100%;" [value] = "newUser.email" (input) = "newUser.email = $event.target.value" type="email" class="form-control" id="email" placeholder="Enter email" (focusout)="onEmailEnter($event)">-->
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<!--<label class="control-label col-sm-2" for="gender">Gender:</label> -->                                                        
							<div class="col-sm-10">
								<mat-radio-group style="width: 80%;" [(ngModel)]="male" name="gender">
								  <mat-radio-button [value]=true >Male</mat-radio-button>
								  <mat-radio-button [value]=false >Female</mat-radio-button>
								</mat-radio-group>
							
								<!--<div class="radio">
									<div style="width: 15rem; display: flex; justify-content: space-between;" class="form-inline">
										<label style="justify-content: flex-start;" ><input type="radio" [value]=true [(ngModel)]="male" name="gender"> Male</label>
										<label style="justify-content: flex-start;" ><input type="radio" [value]=false [(ngModel)]="male" name="gender"> Female</label>
									</div>
								</div>-->
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							
							<div class="col-sm-12">
								<mat-form-field style="width: 100%;">
									<mat-select placeholder="Currency" name="currency" [(ngModel)]="newUser.currency" >
									  <mat-option *ngFor='let currency of currencies' [value]="currency.name">{{currency.name}}</mat-option>
									</mat-select>
								</mat-form-field>
							
								<!--<select style="width: 100%;" class="form-control" name="currency" id="currency" [(ngModel)]="newUser.currency">
									<option value="INR">INR</option>                                                                                                                
								</select>-->                                                                                       
							</div>
						</div>
					</div>
					<!--<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="gender">Login Type:</label>                                                         
							<div class="col-sm-10">
								<div class="radio">
									<div style="width: 15rem; display: flex; justify-content: space-between;" class="form-inline">
										<label style="justify-content: flex-start;" ><input type="radio" [value]=true [(ngModel)]="loginByPassword" name="loginTyp"> Password</label>
										<label style="justify-content: flex-start;" ><input type="radio" [value]=false [(ngModel)]="loginByPassword" name="loginTyp"> OTP</label>
									</div>
								</div>
							</div>
						</div>
					</div>-->
					<div class="form-group">
						<div class="form-inline">
							
							<div class="col-sm-12">
								<mat-form-field style="width:88%;" >
									  <input type="text" matInput placeholder="Wallet Amount" [(ngModel)]="newUser.amount" name="amount" [disabled]=true >
								 </mat-form-field>
								 
								<!--<input style="width: 80%;" [disabled]=true [value] = "newUser.amount" (input) = "newUser.amount = $event.target.value" type="number" class="form-control" id="amt" placeholder="Wallet Amount">-->
								<button mat-raised-button style="width:10%;">Add Money</button>
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
					<button mat-raised-button style="width:100%;" (click)="onUpdate()" >Update</button>
					<!--<button mat-raised-button style="width:48%;" (click)="onUpdateCancel()" >Cancel</button>-->
				</div>
			</div>       
</div>
